﻿@model Tuple<WebApp.arabalar, List<WebApp.markalar>>
@{

    ViewBag.Title = "UyeListele";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container ">
    @using (Html.BeginForm("ArabaDuzenle", "Admin", FormMethod.Post))
    {
        <div class="form-group row">
            <label for="kategoriAdi" class="col-sm-2 form-control-label">Kategori id:</label>
            <div class="col-sm-4">
                @Html.HiddenFor(x=>x.Item1.id)
                @Html.HiddenFor(x => x.Item1.kiradaMi)
            </div>
        </div>
    <div class="form-group row">
        <label for="kategoriAdi" class="col-sm-2 form-control-label">Araba İsmi</label>
        <div class="col-sm-4">
            @Html.EditorFor(x => x.Item1.arabaAdi, new { htmlAttributes = new { @class = "form-control", @Value = Model.Item1.arabaAdi.TrimEnd() } })
        </div>
    </div>
    <div class="form-group row">
        <label for="kategoriAdi" class="col-sm-2 form-control-label">Araba Plakası</label>
        <div class="col-sm-4">
            @Html.EditorFor(x => x.Item1.plaka, new { htmlAttributes = new { @class = "form-control", @Value = Model.Item1.plaka.TrimEnd() } })
        </div>
    </div>
    <div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 form-control-label">Araba Markası:</label>
        <div class="col-sm-3">
            <select class="c-select" name="Item1.markaid">
                @foreach (var marka in Model.Item2)
                {
                    if(marka.id==Model.Item1.markaid)
                    { 
                        <option value="@marka.id" selected>@marka.marka</option>
                    }
                    else
                    {
                        <option value="@marka.id">@marka.marka</option>
                    }
                }
            </select>
        </div>
    </div>
        <div class="form-group row">
            <label for="kategoriAdi" class="col-sm-2 form-control-label">Günlük Kira Bedeli</label>
            <div class="col-sm-4">
                @Html.EditorFor(x => x.Item1.gunlukKiraBedeli, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
    <div class="form-group row">
        <label for="kategoriAdi" class="col-sm-2 form-control-label">Araba Resmi</label>
        <div class="col-sm-4">
            @Html.EditorFor(x => x.Item1.arabaResmi, new { htmlAttributes = new { @class = "form-control",@Value = Model.Item1.arabaResmi.TrimEnd()  } })
        </div>
    </div>
        <div class="form-group row">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" class="btn btn-secondary" value="Kategori Düzenle"></input>
            </div>
        </div>
    }

    <div id="formbilgilendirme"></div>
</div>


