﻿@model WebApp.satin_alinanlar
@{

    ViewBag.Title = "Araba Getirildi";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container ">
    @using (Html.BeginForm("ArabaGetirildi", "Admin", FormMethod.Post))
    {
        <div class="form-group row">
            <label for="kategoriAdi" class="col-sm-2 form-control-label">Kategori id:</label>
            <div class="col-sm-4">
                <input type="text" value="@Model.id" name="id" hidden />
            </div>
        </div>
        <div class="form-group row">
            <label for="kategoriAdi" class="col-sm-2 form-control-label">Alan Üye:</label>
            <div class="col-sm-4">
                <label class="form-control-label">@Model.uyeler.kullaniciAdi</label>
            </div>
        </div>
        <div class="form-group row">
            <label for="kategoriAdi" class="col-sm-2 form-control-label">Alınan Araba:</label>
            <div class="col-sm-4">
                <label class="form-control-label">@Model.arabalar.arabaAdi</label>
            </div>
        </div>
        <div class="form-group row">
            <label for="kategoriAdi" class="col-sm-2 form-control-label">Kiralama Tarihi:</label>
            <div class="col-sm-4">
                <label class="form-control-label">@Model.alinmaTarihi.ToShortDateString()</label>
            </div>
        </div>
        <div class="form-group row">
            <label for="kategoriAdi" class="col-sm-2 form-control-label">Kaç Gündür Kirada:</label>
            <div class="col-sm-4">
                @{
                    int kiralamaGun = DateTime.Now.Subtract(Model.alinmaTarihi).Days;
                <label class="form-control-label">@kiralamaGun</label>
                }
            </div>
        </div>
    <div class="form-group row">
        <label for="kategoriAdi" class="col-sm-2 form-control-label">Ödenmesi Gereken Tutar:</label>
        <div class="col-sm-4">
            @{
                int tutar = kiralamaGun * Model.arabalar.gunlukKiraBedeli;
        <label class="form-control-label">@tutar</label>
            }
        </div>
    </div>
    <div class="form-group row">
        <label for="kategoriAdi" class="col-sm-2 form-control-label"></label>
        <div class="col-sm-5">
            <div class="alert alert-warning" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign"></span> Araba getirildi olarak işaretlendikten sonra bu işlemin geri dönüşü yoktur!
            </div>
        </div>
    </div>
        <div class="form-group row">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" class="btn btn-secondary" value="Getirildi Olarak İşaretle"></input>
            </div>
        </div>
    }

    <div id="formbilgilendirme"></div>
</div>