﻿@model Tuple<WebApp.arabalar,List<WebApp.markalar>>
@{

    ViewBag.Title = "UyeListele";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    
}

<div class="container ">
    @Html.ValidationSummary()
    @using(Html.BeginForm("ArabaEkle","Admin",FormMethod.Post))
    { 
        <div class="form-group row">
            <label for="yaziBasligi" class="col-sm-2 form-control-label">Araba ismi:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="urunismi" name="arabaAdi" placeholder="Araba ismi">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 form-control-label">Araba Plakası: </label>
            <div class="col-sm-4">
                <input type="text" name="plaka" placeholder="Araba Plakası" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 form-control-label">Araba Markası:</label>
            <div class="col-sm-3">
                <select class="c-select" name="markaid">
                    @foreach (var marka in Model.Item2)
                    {
                        <option value="@marka.id">@marka.marka</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 form-control-label">Günlük Kira Bedeli: </label>
            <div class="col-sm-4">
                <input type="text" name="gunlukKiraBedeli" placeholder="Günlük Kira Bedeli" class="form-control" />
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 form-control-label">Araba Resmi: </label>
            <div class="col-sm-4">
                <input type="text" name="arabaResmi" placeholder="Araba Resim Adresi" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" class="btn btn-secondary" value="Araba Ekle" />
            </div>
        </div>
    }
</div>
