﻿@model WebApp.arabalar
@{

    ViewBag.Title = "UyeListele";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container ">
    @using (Html.BeginForm("ArabaSil", "Admin", FormMethod.Post))
    {
        <div class="form-group row">
            <label for="kategoriAdi" class="col-sm-2 form-control-label">Kategori id:</label>
            <div class="col-sm-4">
                                @Html.HiddenFor(x => x.id)
                                @Html.HiddenFor(x => x.kiradaMi)
            </div>
        </div>
        <div class="form-group row">
            <label for="kategoriAdi" class="col-sm-2 form-control-label">Araba İsmi</label>
            <div class="col-sm-4">
                <label class="form-control-label">@Model.arabaAdi</label>
            </div>
        </div>
        <div class="form-group row">
            <label for="kategoriAdi" class="col-sm-2 form-control-label">Araba Plakası</label>
            <div class="col-sm-4">
                <label class="form-control-label">@Model.plaka</label>
            </div>
        </div>
        <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 form-control-label">Araba Markası:</label>
            <div class="col-sm-3">
                <label class="form-control-label">@Model.markalar.marka</label>
            </div>
        </div>
        <div class="form-group row">
            <label for="kategoriAdi" class="col-sm-2 form-control-label">Günlük Kira Bedeli</label>
            <div class="col-sm-4">
                <label class="form-control-label">@Model.gunlukKiraBedeli</label>
            </div>
        </div>
        <div class="form-group row">
            <label for="kategoriAdi" class="col-sm-2 form-control-label">Araba Resmi</label>
            <div class="col-sm-4">
                <label class="form-control-label">@Model.arabaResmi</label>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" class="btn btn-secondary" value="Arabayı Sil"></input>
            </div>
        </div>
    }

    <div id="formbilgilendirme"></div>
</div>

