﻿@model List<WebApp.arabalar>
@{

    ViewBag.Title = "UyeListele";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="bs-example" data-example-id="table-within-panel">
    <div class="panel panel-default">
        <div class="panel-heading">Üyelerin Listesi</div>
        <!--<div class="panel-body"> </div>-->
        <table class="table table-striped sortable">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Araba Adı</th>
                    <th>Plaka</th>
                    <th>Kirada Mı?</th>
                    <th>Marka Adı</th>
                    <th>İşlemler</th>
                </tr>
                @{
                    int i = 0;
                    foreach (var araba in Model)
                    {
                        i = i + 1;
                        <tr>
                            <th scope='row'>@i</th>
                            <td>@araba.arabaAdi</td>
                            <td>@araba.plaka</td>
                            @if (araba.kiradaMi == 0)
                            {
                                <td><span class="glyphicon glyphicon-remove "></span></td>
                            }
                            else
                            {
                                <td><span class="glyphicon glyphicon-ok"></span></td>
                            }
                            <td>
                                @araba.markalar.marka
                            </td>
                            <td>
                                @if (araba.kiradaMi == 0)
                                {
                                    <a href="@Url.Action("ArabaDuzenle","Admin",new{araba.id})"><span title='Üyeyi Düzenle' class="glyphicon glyphicon-pencil"></span></a>
                                    <a href="@Url.Action("ArabaSil","Admin",new{araba.id})"><span title='Üyeyi Sil' class="glyphicon glyphicon-trash"></span></a>
                                }
                                else
                                {
                                    <span>Kiradaki araçlar değiştirelemez</span>
                                }
                            </td>
                        </tr>

                    }
                }
            </thead>
        </table>
    </div>
</div>


