﻿@model List<WebApp.satin_alinanlar>
@{

    ViewBag.Title = "UyeListele";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="bs-example" data-example-id="table-within-panel">
    <div class="panel panel-default">
        <div class="panel-heading">Markaların Listesi</div>
        <!--<div class="panel-body"> </div>-->
        <table class="table table-striped sortable">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Alan Üye</th>
                    <th>Alınan Araba</th>
                    <th>Alınma Tarihi</th>
                    <th>İşlemler</th>
                </tr>
                @{
                    int i = 0;
                    foreach (var satinAl in Model)
                    {
                        i = i + 1;
                        <tr>
                            <th scope='row'>@i</th>
                            <td>@satinAl.uyeler.kullaniciAdi</td>
                            <th>@satinAl.arabalar.arabaAdi</th>
                            <th>@satinAl.alinmaTarihi.Date.ToShortDateString()</th>
                            <td>
                                <a href="@Url.Action("ArabaGetirildi","Admin",new{satinAl.id})"><span title='Üyeyi Sil' class="glyphicon glyphicon-trash"></span></a>
                            </td>
                        </tr>

                    }
                }
            </thead>
        </table>
    </div>
</div>
