﻿@model WebApp.markalar
@{

    ViewBag.Title = "UyeListele";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="container ">
    @using (Html.BeginForm("MarkaDuzenle", "Admin", FormMethod.Post))
    {
        <div class="form-group row">
            <label for="kategoriAdi" class="col-sm-2 form-control-label">Kategori id:</label>
            <div class="col-sm-4">
                <input type="text" value="@Model.id" name="id" hidden />
            </div>
        </div>
        <div class="form-group row">
            <label for="kategoriAdi" class="col-sm-2 form-control-label">Marka İsmi:</label>
            <div class="col-sm-4">
                 <input type="text" class="form-control" id="urunismi" name="markaAdi" placeholder="Marka Adı" value="@Model.marka.TrimEnd()">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" class="btn btn-secondary" value="Marka Düzenle"></input>
            </div>
        </div>
    }

    <div id="formbilgilendirme"></div>
</div>