﻿@model WebApp.markalar
@{

    ViewBag.Title = "UyeListele";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container" style="padding-top:100px;padding-left:50px">
    <div class="col-sm-offset-2">@Html.ValidationSummary()</div>
@using (Html.BeginForm("MarkaEkle", "Admin", FormMethod.Post))
{
    <div class="form-group row">
        <label for="kategoriAdi" class="col-sm-2 form-control-label">Marka İsmi</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="marka" placeholder="Marka Adı">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-offset-2 col-sm-10">
            <input type="submit" class="btn btn-secondary" value="Marka Ekle"></input>
        </div>
    </div>
}
</div>