﻿@model List<WebApp.markalar>
@{

    ViewBag.Title = "UyeListele";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="bs-example" data-example-id="table-within-panel">
    <div class="panel panel-default">
        <div class="panel-heading">Markaların Listesi</div>
        <!--<div class="panel-body"> </div>-->
        <table class="table table-striped sortable">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Marka</th>
                    <th>İşlemler</th>
                </tr>
                @{
                    int i = 0;
                    foreach (var marka in Model)
                    {
                        i = i + 1;
                        <tr>
                            <th scope='row'>@i</th>
                            <td>@marka.marka</td>
                            <td>
                                <a href="@Url.Action("MarkaDuzenle","Admin",new{marka.id})"><span title='Üyeyi Düzenle' class="glyphicon glyphicon-pencil"></span></a>
                                <a href="@Url.Action("MarkaSil","Admin",new{marka.id})"><span title='Üyeyi Sil' class="glyphicon glyphicon-trash"></span></a>
                            </td>
                        </tr>

                    }
                }
            </thead>
        </table>
    </div>
</div>
