﻿@model WebApp.uyeler
@{

    ViewBag.Title = "UyeListele";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container ">
    @using(Html.BeginForm("UyeDuzenle","Admin",FormMethod.Post))
    { 
        <div class="form-group row">
            <label for="kategoriAdi" class="col-sm-2 form-control-label">Kategori id:</label>
            <div class="col-sm-4">
                @Html.HiddenFor(x=>x.id)
                @Html.HiddenFor(x => x.sifre)
            </div>
        </div>
        <div class="form-group row">
            <label for="kategoriAdi" class="col-sm-2 form-control-label">Kullanıcı Adı</label>
            <div class="col-sm-4">

                @{
                    string kadi=Model.kullaniciAdi.TrimEnd();
                    @Html.EditorFor(x => x.kullaniciAdi, new { htmlAttributes = new { @class = "form-control", @Value = kadi } });
                    
                }
            </div>
        </div>
        <div class="form-group row">
            <label for="kategoriAdi" class="col-sm-2 form-control-label">Kayıtlı olduğu eMail</label>
            <div class="col-sm-4">
                @{
                    string email=Model.eMail.TrimEnd();
                    @Html.EditorFor(x => x.eMail, new { htmlAttributes = new { @class = "form-control",@Value=email } })
                }
            </div>
        </div>
        <div class="form-group row">
            <label for="kategoriAdi" class="col-sm-2 form-control-label">Üye Tipi</label>
            <div class="col-sm-4">
                @Html.EditorFor(x => x.uyeTip, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" class="btn btn-secondary" value="Üye Düzenle"></input>
            </div>
        </div>
    }

    <div id="formbilgilendirme"></div>
</div>
