﻿@model List<WebApp.uyeler>
@{
    
    ViewBag.Title = "UyeListele";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="bs-example" data-example-id="table-within-panel">
    <div class="panel panel-default">
        <div class="panel-heading">Üyelerin Listesi</div>
        <!--<div class="panel-body"> </div>-->
        @Html.ValidationSummary()
        <table class="table table-striped sortable">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Kullanıcı Adı</th>
                    <th>Kayıtlı olduğu E posta</th>
                    <th>Yönetci mi?</th>
                    <th>İşlemler</th>
                </tr>
                @{
                    int i=0;
                foreach(var user in Model)
                {
                    i = i + 1;
                    <tr> <th scope='row'>@i</th>
                        <td>@user.kullaniciAdi</td><td>@user.eMail</td>
                        @if (user.uyeTip == 0)
                        {
                            <td><span class="glyphicon glyphicon-remove "></span></td>
                        }
                        else
                        {
                            <td><span class="glyphicon glyphicon-ok"></span></td>
                        }
                     <td>
                        <a href="@Url.Action("UyeDuzenle","Admin",new{user.id})"><span title='Üyeyi Düzenle' class="glyphicon glyphicon-pencil"></span></a> 
                        <a href="@Url.Action("UyeSil","Admin",new{user.id})"><span title='Üyeyi Sil' class="glyphicon glyphicon-trash"></span></a></td></tr>
               
                }
                }
            </thead>
        </table>
    </div>
</div>


