﻿@model WebApp.uyeler
@{

    ViewBag.Title = "UyeListele";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container ">
    @using (Html.BeginForm("UyeSil", "Admin", FormMethod.Post))
    {
        <div class="form-group row">
            <label for="kategoriAdi" class="col-sm-2 form-control-label">Kategori id:</label>
            <div class="col-sm-4">
                @Html.HiddenFor(x => x.id)
                @Html.HiddenFor(x => x.uyeTip)
            </div>
        </div>
        <div class="form-group row">
            <label for="kategoriAdi" class="col-sm-2 form-control-label">Kullanıcı Adı</label>
            <div class="col-sm-4">
                    <label class="form-control-label">@Model.kullaniciAdi</label>
            </div>
        </div>
        <div class="form-group row">
            <label for="kategoriAdi" class="col-sm-2 form-control-label">Kayıtlı olduğu eMail</label>
            <div class="col-sm-4">
                <label class="form-control-label">@Model.eMail</label>
            </div>
        </div>
        <div class="form-group row">
            <label for="kategoriAdi" class="col-sm-2 form-control-label">Üye Tipi</label>
            <div class="col-sm-4">
                <label class="form-control-label">@Model.uyeTip</label> </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" class="btn btn-secondary" value="Üye Sil"></input>
            </div>
        </div>
    }

    <div id="formbilgilendirme"></div>
</div>
