﻿
@{
    ViewBag.Title = "Giriş Yap";
}

<div class="banner-top">
    <div class="header-bottom">
        <div class="header_bottom_right_images">
            <div class="about_wrapper">
                <h1>Giriş Yap Formu</h1>
            </div>
            <div class="section group">
                <div class="col span_2_of_c">
                    <div class="contact-form">
                        <h3>Contact Us</h3>
                        @using (Html.BeginForm("GirisYap","Home",FormMethod.Post))
                        { 
                            <div>
                                <span><label>Kullanıcı Adı</label></span>
                                <span><input name="userName" type="text" class="textbox"></span>
                            </div>
                            <div>
                                <span><label>Şifre</label></span>
                                <span><input name="Password" type="password" class="textbox" ></span>
                            </div>
                            <div>
                                <span><input type="submit" value="Submit"></span>
                            </div>
                        }
                    </div>
                </div><div class="clear"></div>
            </div>
        </div>
        @Html.Partial("yanMenu")
    </div>
    <div class="clear"></div>
</div>

