﻿@model List<WebApp.arabalar>
@{
    ViewBag.Title = "Home Page";
}
<div class="banner-top">
    Yusuf Sancar
    b140910046
    <div class="header-bottom">
        <div class="header_bottom_right_images">
            <div id="slideshow">
                <ul class="slides">
                    <li><a href="#"><canvas></canvas><img src="~/images/banner4.jpg" alt="Marsa Alam underawter close up"></a></li>
                    <li><a href="#"><canvas></canvas><img src="~/images/banner2.jpg" alt="Turrimetta Beach - Dawn"></a></li>
                    <li><a href="#"><canvas></canvas><img src="~/images/banner3.jpg" alt="Power Station"></a></li>
                    <li><a href="#"><canvas></canvas><img src="~/images/banner1.jpg" alt="Colors of Nature"></a></li>
                </ul>
                <span class="arrow previous"></span>
                <span class="arrow next"></span>
            </div>
            <div class="content-wrapper">
                <div class="content-top">
                    <div class="box_wrapper">
                        <h1>@WebApp.Resources.dil.SatinAlinabilirArabalar</h1>
                    </div>
                    @{
                        int count=0;
                        var userCookie=Request.Cookies["kullaniciAdi"];
                        for (int i = 0; count < Model.Count; i++)
                        {
                            <div class="text">
                                @for (int j = 0; j < 3; j++)
                                {
                                    count = 3 * i + j;
                                    if (count >= Model.Count)
                                    {
                                        break;
                                    }
                                    var m=Model[count];
                                    <div class="grid_1_of_3 images_1_of_3">
                                        <div class="grid_1">
                                            <a href="#"><img src="@m.arabaResmi" title="continue reading" alt=""></a>
                                            <div class="grid_desc">
                                                <p class="title">@WebApp.Resources.dil.ArabaAdi: @m.arabaAdi</p>
                                                <p class="title1">@WebApp.Resources.dil.GunlukKiraBedeli: @m.gunlukKiraBedeli</p>
                                                <p class="title1">@WebApp.Resources.dil.ArabaMarkasi: @m.markalar.marka</p>
                                                 @if(userCookie !=null)
                                                 { 
                                                    <div class="cart-button">
                                                        <div class="cart" style="padding-top:0px">
                                                            <a href="@Url.Action("ArabaSatinAl","Home",new{m.id})"><img src="~/images/cart.png" alt="" /></a>
                                                        </div>
                                                        <button class="button" onclick="window.location.href='@Url.Action("ArabaSatinAl", "Home", new { m.id })'"><span>Satın Al</span></button>
                                                        <div class="clear"></div>
                                                    </div>
                                                 }
                                            </div>
                                        </div><div class="clear"></div>
                                    </div>
                                    
                                }
                                <div class="clear"></div>
                            </div>
                        
                        }
                    }
                </div>
            </div>
        </div>
        @Html.Partial("yanMenu")
        <div class="clear"></div> 
    </div>
</div>