﻿@model WebApp.uyeler
@{
    
    ViewBag.Title = "Üye Ol";
}

<div class="banner-top">
    <div class="header-bottom">
        <div class="header_bottom_right_images">
            <div class="about_wrapper">
                <h1>Üye Olma Formu</h1>
            </div>
            <div class="section group">
                <div class="col span_2_of_c">
                    <div class="contact-form">
                        <h3>Contact Us</h3>
                        @Html.ValidationSummary()
                        <!--<form method="post" action="contact-post.html">-->
                            @using (Html.BeginForm("UyeOl","Home",FormMethod.Post))
                            { 
                        <div>
                            <span><label>Kullanıcı Adı</label></span>
                            <span>@Html.EditorFor(model=>model.kullaniciAdi)</span>
                        </div>
                        <div>
                            <span><label>E-mail</label></span>
                            <span>@Html.EditorFor(model=>model.eMail)</span>
                        </div>
                        <div>
                            <span><label>Şifre</label></span>
                            <span>@Html.PasswordFor(model=>model.sifre)</span>
                        </div>
                            <div>
                                <span><label>Şifreyi tekrar girin</label></span>
                                <span><input name="userPass1" type="password" class="textbox"></span>
                            </div>
                        <div>
                            <span><input type="submit" value="Üye Ol"></span>
                        </div>
                            }
                        <!--</form> -->
                    </div>
                </div><div class="clear"></div>
            </div>
        </div>
        @Html.Partial("yanMenu")
    </div>
    <div class="clear"></div>
</div>

