﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href='http://fonts.googleapis.com/css?family=Playball' rel='stylesheet' type='text/css'>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="~/Content/selectMenu.css"  />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/script.js" type="text/javascript"></script>
    <script src="~/Scripts/superfish.js"></script>
</head>
<body style="padding-top:50px">
    <header class="navbar navbar-inverse navbar-fixed-top"></header>
    <div class="container-fluid" style="padding-left: 0; padding-top: 0">
        <div class="row">
            <div class="col-md-2 col-sm-2">

                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <!--<a class="collapsed" href="../index.php" style="text-decoration: none" target="_blank"><span class="glyphicon glyphicon-home"></span> Site Anasayfası </a>-->
                                <a href="@Url.Action("Index", "Home")" class="collapsed" style="text-decoration: none" target="_blank"><span class="glyphicon glyphicon-home"></span> Site Ana Sayfası</a>
                            </h4>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    <span class="glyphicon glyphicon-user"></span> Üyeler
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                @Html.ActionLink("Üyeleri Listele", "UyeListele", "Admin")

                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    <span class="glyphicon glyphicon-comment"></span> Arabalar
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                @Html.ActionLink("Araba Ekle", "ArabaEkle", "Admin")
                                <br />
                                @Html.ActionLink("Arabaları Listele", "ArabalariListele", "Admin")
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                    <span class="glyphicon glyphicon-tasks"></span> Markalar
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                @Html.ActionLink("Marka Ekle", "MarkaEkle", "Admin")
                                <br />
                                @Html.ActionLink("Markaları Listele", "MarkalariListele", "Admin")
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <!--<a class="collapsed" href="../index.php" style="text-decoration: none" target="_blank"><span class="glyphicon glyphicon-home"></span> Site Anasayfası </a>-->
                                <a href="@Url.Action("GetirilenArabalar", "Admin")" class="collapsed" style="text-decoration: none"><span class="glyphicon glyphicon-home"></span> Getirilen Araba</a>
                            </h4>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <span class="glyphicon glyphicon-log-out"></span><a class="collapsed" href="../cikisYap.php" style="text-decoration: none"> Çıkış </a>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-10 col-sm-10" style="margin-right: 0; margin-left: 0">
                    @RenderBody()
            </div>
        </div>


    </div>


</body>
</html>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
