﻿@{
    var userInCookie = Request.Cookies["kullaniciAdi"];
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href='http://fonts.googleapis.com/css?family=Playball' rel='stylesheet' type='text/css'> 
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/script.js" type="text/javascript"></script>
    <script src="~/Scripts/superfish.js"></script>
</head>
<body>
    <div class="header-bg">
        <div class="wrap">
            <div class="h-bg">
                <div class="total">
                   
                    <div class="header">
                        
                        <div class="header-right">
                            <ul class="follow_icon">
                                <li><a href="@Url.Action("DilDegistir",new {lang ="en",returnUrl=this.Request.RawUrl})"><img src="~/images/eng.png" alt="" /></a></li>
                                <li><a href="@Url.Action("DilDegistir",new {lang ="tr",returnUrl=this.Request.RawUrl})"><img src="~/images/turk.png" alt="" /></a></li>
                            </ul>
                        </div><div class="clear"></div>

                    </div>
                    <div class="menu">
                        <div class="top-nav">
                            <ul>
                                <li>@Html.ActionLink(@WebApp.Resources.dil.AnaSayfa, "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</li>
                                <li>@Html.ActionLink(@WebApp.Resources.dil.Hakkimizda, "About", "Home", new { area = "" }, new { @class = "navbar-brand" })</li>
                                <li>@Html.ActionLink(@WebApp.Resources.dil.Iletisim, "Contact", "Home", new { area = "" }, new { @class = "navbar-brand" })</li>
                                @if (userInCookie != null)
                                {
                                    var userType = Request.Cookies["tip"];
                                    if (userType != null && userType.Value.ToString() == "1")
                                    {
                                        <li>@Html.ActionLink(@WebApp.Resources.dil.AdminPanel, "Index", "Admin", new { area = "" }, new { @class = "navbar-brand" })</li>
                                    }
                                    <li>@Html.ActionLink(@WebApp.Resources.dil.CikisYap, "CikisYap", "Home", new { area = "" }, new { @class = "navbar-brand" })</li>
                                }
                                else
                                {
                                    <li>@Html.ActionLink(@WebApp.Resources.dil.UyeOl, "UyeOl", "Home", new { area = "" }, new { @class = "navbar-brand" })</li>
                                    <li>@Html.ActionLink(@WebApp.Resources.dil.GirisYap, "GirisYap", "Home", new { area = "" }, new { @class = "navbar-brand" })</li>
                                }
                                <!--<li>@Html.ActionLink(@WebApp.Resources.dil.AdminPanel, "Index", "Admin", new { area = "" }, new { @class = "navbar-brand" })</li>-->
        
                            </ul>
                            <div class="clear"></div>
                        </div>
                        
                    </div>
                    @RenderBody()

                </div>
            </div>
        </div>
    </div>   
    
</body>
</html>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
