﻿
<div class="header-para">
    <div class="categories">
        <div class="list-categories">
            <div class="first-list">
                <div class="div_2"> @Html.ActionLink("Yönetici Paneli", "Index","Admin") </div>
                <div class="div_img">
                    <img src="~/images/car2.jpg" alt="Cars" title="Cars" width="60" height="39">
                </div><div class="clear"></div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
