﻿.c-select {
            display: inline-block;
            max-width: 100%;
            -webkit-appearance: none;
            padding: .375rem 1.75rem .375rem .75rem;
            padding-right: .75rem \9;
            color: #55595c;
            vertical-align: middle;
            background: #fff url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAUCAMAAACzvE1FAAAADFBMVEUzMzMzMzMzMzMzMzMKAG/3AAAAA3RSTlMAf4C/aSLHAAAAPElEQVR42q3NMQ4AIAgEQTn//2cLdRKppSGzBYwzVXvznNWs8C58CiussPJj8h6NwgorrKRdTvuV9v16Afn0AYFOB7aYAAAAAElFTkSuQmCC) no-repeat right .75rem center;
            background-image: none \9;
            -webkit-background-size: 8px 10px;
            background-size: 8px 10px;
            border: 1px solid #ccc;

            -moz-appearance: none;
        }

        .c-select:focus {
            border-color: #51a7e8;
            outline: none;
        }

        .c-select::-ms-expand {
            opacity: 0;
        }

        .c-select-sm {
            padding-top: 3px;
            padding-bottom: 3px;
            font-size: 12px;
        }

        .c-select-sm:not([multiple]) {
            height: 26px;
            min-height: 26px;
        }